.all-property-container {
   padding: 20px;
   background-color: #f7f7f7;
}

.booking-card {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   transition: transform 0.3s;
}

.booking-card:hover {
   transform: translateY(-5px);
}
